/* body{
    background-color: black;
    background-image: url(pexels-smoke-17076054.jpg);
    background-size: 900px 900px;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    border: 2px solid red;
}.pink{
    color: rgb(137, 240, 156);
    
}
.green{
    color: rgb(15, 119, 223);
}
 *{
    margin: 0;
    padding: 0;
 }
 ul{
    background-color: black;
    color: white;
 }*/
 
 /* .box1{
    background-color: blue;
    margin: 30px;
    height: 20px;
    width: 2033px;
    padding: 2px;
    border: 2px solid grey;
    box-sizing: border-box;
    
 }
 .box2{
    background-color: brown;
    margin: 20px;
    height: 20px;
    width: 100%;
    padding: 2px;
    border: 1px solid black;
    box-sizing: border-box;
 }  */
 /* *{
    margin: 0;
    padding: 0;
 }
 header{
    height: 66px;
    background: black;
    color: white;
    border: 2px solid white;
 }
 .content{
    background-color: red;
    height: 98vh;
    margin: 34px;
    padding: 33px;
 }
 footer{
    background-color: aquamarine;
 }
 .center{
    text-align: center;
 } */

